@media (max-width: 575.98px) { 
    .nav{
        font-size: 0.55rem;
        font-weight: 700;
        color: black;
    }
    .icons{
        height: 45px;
        margin:auto 5px
    }
    .sbicn{
        display: none;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav{
        font-size: 11px;
        font-weight: 700;
        color: black;
    }
    .icons{
        height: 45px;
    }
    .sbicn{
        display: none;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav{
        font-size: 14px;
        font-weight: 800;
        color: black;
    }
    .icons{
        height: 40px;
        margin:auto 10px
    }
    .navbar .navbar-nav {
        display:inline-block;
        float: none;
        vertical-align: top;
      }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .nav{
        font-size: 15px;
        font-weight: 800;
        color: black;
    }
    .icons{
        height: 40px;
        margin:auto 10px
    }
    .navbar .navbar-nav {
        display:inline-block;
        float: none;
        vertical-align: top;
      }
 }


@media (min-width: 1200px) { 
    .nav{
        font-size: 16px;
        font-weight: 800;
        color: black;
    }
    .icons{
        height: 40px;
        margin:auto 10px
    }
    .navbar .navbar-nav {
        display:inline-block;
        float: none;
        vertical-align: top;
      }
 }
  