.mybgr {
	text-align: center;
	height: 100vh;
	background-image: url(./11.png);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }
  .input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px;
	outline: none;
	width: 90%;
	font-size: 15px;
	transition:  0.3s;
	direction: rtl;
	border-radius: 2px;
  }
  .input:focus{
	transform: scale(1.1);
  }
  .player1{
	background: linear-gradient(to right, #9207A2, rgb(187, 52, 202));
	border-radius: 5px 0px 0px 5px;
  }
  .wrapper{
	border-radius: 5px;
	width: 75%;
  }
  .btnn{
	color: #9207A2;
		  background-color: rgb(255, 255, 255);
		  height: 50px;
		  width: 100px;
		  font-size: 18px;
		  font-weight: bold;
		  border: none;
		  outline: none;
		  border-radius: 50% 20% / 10% 40%;
		  cursor: pointer;
  }
  .myHeader{
	font-size: 30px;
	font-weight: bold;
	color: white;
  }
  .player1name{
	font-size: 20px;
	font-weight: bold;
	color: white;
  }
  .player2name{
	font-size: 20px;
	font-weight: bold;
	color: #9207A2;
  }
  
  @media (max-width: 575.98px) { 
	  .mybgr{
		  background-size:250% 100vh;
		  background-position: center;
	  }
	  .btnn{
		  height: 40px;
		  width: 70px;		
		  font-size: 15px;
	}
	.myHeader{
	  font-size: 30px;
	}
	.player1name{
	  font-size: 18px;
	}
	.player2name{
	  font-size: 18px;
	}
	.wrapper{
	  width: 90%;
	}
	.input{
	  font-size: 12px;
	}
   }
  @media (min-width: 576px) and (max-width: 767.98px) {  
	  .input {
		  font-size: 14px;
	  }
	  .btnn{
		  height: 48px;
		  width: 90px;
		  font-size: 17px;
	  }
	  .mybgr{
		  background-image: url('./11.png');
		  background-size:140% 100%;
	  }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
	  .mybgr{
		  background-size:150% 100vh;
		  background-position: center;
	  }
	  .btnn{
		  height: 48px;
		  width: 90px;
		  font-size: 17px;
	  }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
	  .mybgr{
		  background-image: url('./11.png');
		  background-size:160% 100%;
		  background-position: center;
	  }
  }
  