*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rulesBgr{
    background-image: url('../Home/Konami.jpg');
    height: 100%;
    display: flex;
    width: 100%;
    position: fixed;
    background-size:100% 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    overflow: auto;
}
.rules{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(43, 43, 43, 0.3);
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(87, 87, 87, 0.25), 
            0 10px 10px rgba(94, 94, 94, 0.22);
    padding: 3% 5% ;
    margin: auto;
    color:white;
}
.paragraphsHeader{
    font-weight:bold;
    font-size:30px ;
    direction:rtl;
}
.paragraphs{

    font-size:20px ;
    direction:rtl;
    text-align: right;
    margin-bottom: 2%;
}
.paragraphsBold{
    font-weight:bold;
    font-size:20px ;
    direction:rtl;
    text-align: right;
    margin-bottom: 2%;
}
@media (max-width: 575.98px) { 
    .rulesBgr{
        background-image: url('../Home/Konami.jpg');
        height: 100%;
        display: flex;
        width: 100%;
        position: fixed;
        background-position: center;
        background-size:250% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .paragraphsHeader{
        font-weight:bold;
        font-size:19px ;
        direction:rtl;
    }
    .paragraphs{
        font-size:12px ;
        direction:rtl;
        text-align: right;
        margin-bottom: 2%;
    }
    .paragraphsBold{
        font-weight:bold;
        font-size:12px ;
        direction:rtl;
        margin-bottom: 2%;
    }
    .rules{
        width: 90%;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .paragraphsHeader{
        font-weight:bold;
        font-size:25px ;
        direction:rtl;
    }
    .paragraphs{
        font-size:18px ;
        direction:rtl;
        text-align: right;
        margin-bottom: 2%;
    }
    .paragraphsBold{
        font-weight:bold;
        font-size:18px ;
        direction:rtl;
        margin-bottom: 2%;
    }
    .rules{
        width: 90%;
    }
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .rulesBgr{
        background-image: url('../Home/Konami.jpg');
        height: 100%;
        display: flex;
        width: 100%;
        position: fixed;
        background-position: center;
        background-size:180% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    
 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .rulesBgr{
        background-image: url('../Home/Konami.jpg');
        height: 100%;
        display: flex;
        width: 100%;
        position: fixed;
        background-position: center;
        background-size:150% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .paragraphsHeader{
        font-weight:bold;
        font-size:25px ;
        direction:rtl;
    }
    .paragraphs{
        font-size:20px ;
        direction:rtl;
        text-align: right;
        margin-bottom: 2%;
    }
    .paragraphsBold{
        font-weight:bold;
        font-size:20px ;
        direction:rtl;
        margin-bottom: 2%;
    }
 }
 @media (max-width:991px) and (max-height: 720px) and (min-width:515px){
    .paragraphsHeader{
        font-weight:bold;
        font-size:20px ;
        direction:rtl;
    }
    .paragraphs{
        font-size:15px ;
        direction:rtl;
        text-align: right;
        margin-bottom: 2%;
    }
    .paragraphsBold{
        font-weight:bold;
        font-size:15px ;
        direction:rtl;
        margin-bottom: 2%;
    }
    .rules{
        width: 80%;
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: rgba(43, 43, 43, 0.3);
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 14px 28px rgba(87, 87, 87, 0.25), 
                0 10px 10px rgba(94, 94, 94, 0.22);
        padding: 3% 5% ;
        margin: auto;
        color:white;
        margin: 3% 0;
    }
    .rulesBgr{
        background-image: url('../Home/Konami.jpg');
        height: 100%;
        display: flex;
        width: 100%;
        position: fixed;
        background-position: center;
        background-size:150% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        overflow: auto;
    }
    .coover{
        overflow: auto;
    }
 }